# فایل‌های کش پایتون
__pycache__/
*.py[cod]

# محیط مجازی
.venv/
venv/
env/

# فایل‌های موقت ژوپیتر
.ipynb_checkpoints/

# تنظیمات ادیتور
.vscode/

# فایل‌های سیستمی
.DS_Store
Thumbs.db

# متغیرهای محیطی
.env

# مدل‌های آموزش‌دیده
models/*
!models/README.md
*.pkl
*.joblib
*.model
*.bin

# داده‌های پردازش‌شده
data/processed/*
!data/processed/README.md

# فایل‌های تست و بیلد
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
